
html, body{
	background-color: #262931;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.container{
	border: 3px solid red;
	width: 90%;
	height: 90%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(10, 3fr);
}
.container div {
	border: 1px solid black;
	background-color: #357d4e;
	text-align: center;
	display: inline-block;
}
.container span{
	display: inline-block;
  	vertical-align: middle;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
  	color: white;
  	text-transform: uppercase;
  	margin-top: 68px;
}
#Alabama{
}
#Alaska{
}
#Arizona{}
#California{}
#Colorado{}
#Connecticut{}
#Delaware{}
#Florida{}
#Georgia{}
#Hawaii{
}
#Idaho{}
#Illinois{}
#Indiana{}
#Iowa{}
#Kansas{}
#Kentucky{}
#Louisiana{}
#Maine{}
#Maryland{}
#Massachusetts{}
#Michigan{}
#Minnesota{}
#Mississippi{}
#Missouri{}
#Montana{}
#Nebraska{}
#Nevada{}
#New_Hampshire{}
#New_Jersey{}
#North_Carolina{}
#North_Dakota{}
#Ohio{}
#Oklahoma{}
#Oregon{}
#Pennsylvania{}
#Rhode_Island{}
#South_Carolina{}
#South_Dakota{}
#Tennessee{}
#Texas{}
#Utah{}
#Vermont{}
#Virginia{}
#Washington{}
#West_Virginia{}
#Wisconsin{}
#Wyoming{}