
html, body{
	background-color: #262931;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.container{
	/*border: 3px solid red;*/
	width: 90%;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
}

.grid-sizer,
.grid-item { width: 1px; }
.grid-item{
	float: left;
	border: 2px solid black;
	background-color: rgb(53,125,78);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9.87%;
	height: 75px;
}
.grid-item:hover{
	border: 2px solid #ffdf1b;
}

.container span{
	display: inline-block;
  	font-weight: 500;
  	color: black;
  	text-transform: uppercase;
  	font-family: 'Montserrat', sans-serif;
}
p1{
	font-family: 'Montserrat', sans-serif;
}
strong{
	font-size: 30px;
	font-weight: 10000;
}
.tooltip-template{
	display: none;
}


/*#AL{
}
#AK{
}
#AZ{}
#CA{}
#CO{}
#CT{}
#DE{}
#FL{}
#GA{}
#HI{
}
#ID{}
#IL{}
#IN{}
#IA{}
#KS{}
#KY{}
#LA{}
#ME{}
#MD{}
#MA{}
#MI{}
#MN{}
#MS{}
#MO{}
#MT{}
#NE{}
#NV{}
#NH{}
#NJ{}
#NC{}
#ND{}
#OH{}
#OK{}
#OR{}
#PA{}
#RI{}
#SC{}
#SD{}
#TN{}
#TX{}
#UT{}
#VT{}
#VA{}
#WA{}
#WV{}
#WI{}
#WY{}*/